html {
  // font-size: 62.5%;
  font-family: 'inter', sans-serif;
}

p {
  color: #2b283a;
  font-size: 1.024rem;
}

header {
  color: white;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  h1 {
    font-size: 1.446rem;
  }

  ion-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 5px;
  }
}

.place {
  max-width: 47.0rem;
  margin: 40px auto 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  img {
    max-width: 12.5rem;
    height: 16.8rem;
    object-fit: cover;
    border-radius: 10px;
  }

  div {
    margin-left: 20px;
  }

  a {
    color: #918e9b;
    margin-left: 10px;
    text-transform: initial;
  }

  .capital {
    text-transform: uppercase;
  }

  ion-icon {
    color: #f55a5a;
  }

  .spacing {
    letter-spacing: 3px;
  }
}
